@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

html, body {
  height: 100svh;
  height: 100vh;
}

#root, .app {
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template-rows: max-content min-content 1fr min-content;
}

.header-icon {
  @apply w-6 h-6;
}

.not-built {
  @apply cursor-not-allowed;
}

.aside-nav {
  height: calc(100vh);
  height: calc(100svh);
}

.products {
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
}